{% extends 'base.html' %}
{% load static %}
{% block title %}Dentista - Blogs{% endblock %}
{% block meta_description %}This is the Blog page of Dentista{% endblock %}
{% block content %} 

    <!-- page-header-start -->
    <div class="page-header">
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <div class="page-section">
              <h1 class="page-title">Blogs</h1>
              <p>Etiarem ipsum dolor sit ce eu lacus impsus erat vitae.</p>
              <a href="#" class="btn btn-primary">make an appointment</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- page-header-close -->

    <div class="space-medium">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
            <div class="row">
              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="post-holder">
                  <!-- post holder -->
                  <div class="post-img">
                    <!-- post img -->
                    <a href="#" class="imghover"
                      ><img
                        src="{% static 'website/images/post-img-1.jpg' %}"
                        alt=""
                        class="img-responsive"
                    /></a>
                    <div class="post-sticky"></div>
                  </div>
                  <!-- /.post img -->
                  <div class="post-content">
                    <!-- post content -->
                    <div class="post-header">
                      <!-- post header -->
                      <h1 class="post-title">
                        <a href="{% url 'blog' %}" class="title"
                          >10 amazing uses for your old toothbrush</a
                        >
                      </h1>
                      <div class="meta">
                        <span class="meta-date"> 25 june, 2020</span>
                        <span class="meta-comments">(22) Comments</span>
                      </div>
                    </div>
                    <!-- /.post header -->
                    <p>
                      Nunc cursus leo risus non ac efficitur vel sed Mauris
                      iaculis finibus ex et viverra. Aliquam blandit ornare
                      justo, in sagittis sem ornare sit amet. Cras posuere vel
                      ex at vulputate. Praesent volutpat consequat urt sagitton
                      dimentum ditpat vivamus auctor magna eu vel
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                  </div>
                  <!-- /.post content -->
                </div>
                <!-- /.post holder -->
              </div>
              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="post-holder">
                  <!-- post holder -->
                  <div class="post-img">
                    <!-- post img -->
                    <a href="#" class="imghover"
                      ><img
                        src="{% static 'website/images/post-img-2.jpg' %}"
                        alt=""
                        class="img-responsive"
                    /></a>
                  </div>
                  <!-- /.post img -->
                  <div class="post-content">
                    <!-- post content -->
                    <div class="post-header">
                      <!-- post header -->
                      <h1 class="post-title">
                        <a href="{% url 'blog' %}" class="title"
                          >Heading title of Dental treatment Blog post</a
                        >
                      </h1>
                      <div class="meta">
                        <span class="meta-date"> 26 june, 2020</span>
                        <span class="meta-comments">(20) Comments</span>
                      </div>
                    </div>
                    <!-- /.post header -->
                    <p>
                      Eleifend felis tortor quis diam praesent feugiat in metus
                      tempor faucibus maecenas eget consectetur curabitur
                      hendrerit fringilla enim accumsan turpis aliquam fringilla
                      nulla hendrerit le posuere vel ex at vulputate.Praesent
                      volutpat consequat urna lorem.
                    </p>
                    <a href="#" class="btn btn-primary">Read More </a>
                  </div>
                  <!-- /.post content -->
                </div>
                <!-- /.post holder -->
              </div>
              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="post-holder">
                  <!-- post holder -->
                  <div class="post-img">
                    <!-- post img -->
                    <a href="#" class="imghover"
                      ><img
                        src="{% static 'website/images/post-img-3.jpg' %}"
                        alt=""
                        class="img-responsive"
                    /></a>
                  </div>
                  <!-- /.post img -->
                  <div class="post-content">
                    <!-- post content -->
                    <div class="post-header">
                      <!-- post header -->
                      <h1 class="post-title">
                        <a href="{% url 'blog' %}" class="title"
                          >What are the alternatives to dental implants?</a
                        >
                      </h1>
                      <div class="meta">
                        <span class="meta-date"> 25 june, 2020</span>
                        <span class="meta-comments">(21) Comments</span>
                      </div>
                    </div>
                    <!-- /.post header -->
                    <p>
                      Consectetur et interdum et vulputate mauris vestibulum
                      ullamcorper sapien eget sodales feugiat etiam ut justo ut
                      sem molestie viverra massa pellentesque non tellus urna
                      donec dolor orci nulla et erat consequat porta
                      tellus.lorem ipsum dolot sit non.
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                  </div>
                  <!-- /.post content -->
                </div>
                <!-- /.post holder -->
              </div>
              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="post-holder">
                  <!-- post holder -->
                  <div class="post-content">
                    <!-- post content -->
                    <div class="post-header">
                      <!-- post header -->
                      <h1 class="post-title">
                        <a href="{% url 'blog' %}" class="title"
                          >Suffering from a Teeth Problem</a
                        >
                      </h1>
                      <div class="meta">
                        <span class="meta-date"> 23 june, 2020</span>
                        <span class="meta-comments">(24) Comments</span>
                      </div>
                    </div>
                    <!-- /.post header -->
                    <p>
                      Nunc cursus leo risus non ac efficitur vel sed Mauris
                      iaculis finibus ex et viverra. Aliquam blandit ornare
                      justo, in sagittis sem ornare sit amet. Cras posuere vel
                      ex at vulputate. Praesent volutpat consequat urna lorem
                      ipsuget sagitton dimentum ditpat vivamus auctor magna eu
                      velit suscipit…
                    </p>
                    <a href="#" class="btn btn-primary">Read More</a>
                  </div>
                  <!-- /.post content -->
                </div>
                <!-- /.post holder -->
              </div>
              <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
                <div class="blockquote">
                  <div class="blockquote-content">
                    <p>
                      “Treat your password like your toothbrush. Don't let
                      anybody else use it, and get a new one every six months.”
                    </p>
                  </div>
                  <div class="blocquote-author">- Maroon benessisy</div>
                </div>
              </div>
              <!-- pagination start -->
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="st-pagination">
                  <ul class="pagination">
                    <li>
                      <a href="#" aria-label="previous"
                        ><span aria-hidden="true">Previous</span></a
                      >
                    </li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li>
                      <a href="#" aria-label="Next"
                        ><span aria-hidden="true">Next</span></a
                      >
                    </li>
                  </ul>
                </div>
              </div>
              <!-- pagination close -->
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <!-- widget-search-start -->
            <div class="widget widget-search">
              <form>
                <div class="search-form">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Search Here"
                  />
                  <button type="Submit"><i class="fa fa-search"></i></button>
                </div>
              </form>
            </div>
            <!-- widget-search-close -->

            <!-- widget-categories-start -->
            <div class="widget widget-categories">
              <h2 class="widget-title">Categories</h2>
              <ul class="angle angle-right">
                <li class="active"><a href="#">Root Canal</a></li>
                <li><a href="#">Sleep Apnea</a></li>
                <li><a href="#">Cosmetic Dentistry</a></li>
                <li><a href="#">Teeth Whitening</a></li>
                <li><a href="#">Gum Treatment</a></li>
                <li><a href="#">Restorations</a></li>
              </ul>
            </div>
            <!-- widget-categories-close -->

            <!-- widget-archievs-start -->
            <div class="widget widget-archives">
              <h2 class="widget-title">Archives</h2>
              <ul class="angle angle-right">
                <li><a href="#">March (2021)</a></li>
                <li><a href="#">February (2021)</a></li>
                <li><a href="#">January (2021)</a></li>
                <li><a href="#">December (2020)</a></li>
                <li><a href="#">November (2020)</a></li>
              </ul>
            </div>
            <!-- widget-archievs-close -->

            <!-- widget-recent-post-start -->
            <div class="widget widget-recent-post">
              <h2 class="widget-title">Recent Post</h2>
              <ul>
                <li>
                  <div class="recent-post">
                    <div class="recent-img">
                      <a href="#" class="imghover"
                        ><img
                          src="{% static 'website/images/recent-post-1.jpg' %}"
                          alt=""
                          class="img-responsive"
                      /></a>
                    </div>
                    <h4 class="recent-title">
                      <a href="#" class="title"
                        >What are the alternatives to dental implants?</a
                      >
                    </h4>
                    <div class="meta">
                      <span class="meta-date">28 june, 2020</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="recent-post">
                    <div class="recent-img">
                      <a href="#" class="imghover">
                        <img
                          src="{% static 'website/images/recent-post-2.jpg' %}"
                          alt=""
                          class="img-responsive"
                      /></a>
                      <h4 class="recent-title">
                        <a href="#" class="title"
                          >Heading title of Dental treatment Blog post</a
                        >
                      </h4>
                    </div>
                  </div>
                  <div class="meta">
                    <span class="meta-date">27 june, 2020</span>
                  </div>
                </li>
              </ul>
            </div>
            <!-- widget-recent-post-close-->

            <!-- widget-Tag start -->
            <div class="widget widget-tags">
              <h2 class="widget-title">Tags</h2>
              <a href="#">dentist</a><a href="#">dental</a
              ><a href="#">root canal</a><a href="#">Cosmetic </a
              ><a href="#">teeth</a><a href="#">Dentistry</a>
            </div>
            <!-- widget-Tag close -->
          </div>
        </div>
      </div>
    </div>

{% endblock %}