{% extends 'base.html' %}
{% load static %}

{% block content %} 

    <!-- slider-start -->
    <div class="slider">
      <div class="owl-carousel slider">
        <div class="item">
          <div class="slider-img">
            <img src="{% static 'website/images/slider-1.jpg' %}" alt="" />
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="slider-captions">
                  <h1 class="slider-title">
                    Providing Proper Treatment from our Clinic
                  </h1>
                  <p class="slider-text hidden-xs">
                    We offer a wide range of procedures to help you get the
                    perfect smile.
                  </p>
                  <a
                    href="{% url 'about' %}"
                    class="btn btn-primary btn-sm hidden-sm hidden-xs"
                    >make an appointment</a
                  >
                  <a
                    href="{% url 'about' %}"
                    class="btn btn-default btn-sm hidden-sm hidden-xs"
                    >meet doctors</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slider-img">
            <img src="{% static 'website/images/slider-2.jpg' %}" alt="" />
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="slider-captions">
                  <h1 class="slider-title">
                    Fast &amp; Effective teeth Whitening System
                  </h1>
                  <p class="slider-text hidden-xs">
                    We offer a wide range of procedures to help you get the
                    perfect smile.
                  </p>
                  <a
                    href="{% url 'about' %}\"
                    class="btn btn-primary btn-sm hidden-sm hidden-xs"
                    >make an appointment</a
                  >
                  <a
                    href="{% url 'about' %}"
                    class="btn btn-default btn-sm hidden-sm hidden-xs"
                    >meet doctors</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="slider-img">
            <img src="{% static 'website/images/slider-3.jpg' %}" alt="" />
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="slider-captions">
                  <h1 class="slider-title">
                    Highly skilled and experienced doctors
                  </h1>
                  <p class="slider-text hidden-xs">
                    We offer a wide range of procedures to help you get the
                    perfect smile.
                  </p>
                  <a
                    href="{% url 'about' %}"
                    class="btn btn-primary btn-sm hidden-sm hidden-xs"
                    >make an appointment</a
                  >
                  <a
                    href="{% url 'about' %}"
                    class="btn btn-default btn-sm hidden-sm hidden-xs"
                    >meet doctors</a
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- slider-close -->


    <!-- about start -->
    <div class="space-medium bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <img
              src="{% static 'website/images/about-pic.jpg' %}"
              alt=""
              class="img-responsive"
            />
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="about-section">
              <h1>Welcome to Dentista</h1>
              <p>
                Since 1990 we have provided patients with the best dental care
                treatments &amp; our team of highly skilled dentist specialists
                &amp; also equipped to provide a complete range of treatments.
              </p>
              <div class="about-list">
                <ul class="angle angle-right mb30">
                  <li>Highly skilled and experienced doctors</li>
                  <li>Provide 100% Complete protection for Patient</li>
                  <li>We believe in further development and new innovations</li>
                </ul>
              </div>
              <a href="#" class="btn btn-primary btn-sm">know about us</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- about close -->


    <!-- treatment start -->
    <div class="space-medium">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="section-title">
              <!-- section title start-->
              <h1>Our Services</h1>
              <p>
                Proin rutrum metus felis quis tincidunt donec orci act risus
                semper vita simple dummy <br />
                mols vel nisl nec nunc sagittis laoreet.
              </p>
            </div>
            <!-- /.section title start-->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="service-block">
              <div class="service-icon">
                <i class="icon-003-tooth-13"></i>
              </div>
              <div class="">
                <h3><a href="#">Root Canal</a></h3>
                <p>
                  Proin rutrum metus acted quis tincidunt sempers dummy
                  conetent.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="service-block">
              <div class="service-icon">
                <i class="icon-004-tooth-12"></i>
              </div>
              <div class="">
                <h3><a href="#">Sleep Apnea</a></h3>
                <p>
                  Simple dummy conetnt viverra scelerisque molve nise nunc
                  laoreet.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="service-block">
              <div class="service-icon">
                <i class="icon-008-tooth-11"></i>
              </div>
              <div class="">
                <h3><a href="#">Cosmetic Dentistry</a></h3>
                <p>
                  Conetent viverra scelerisques vel nec nuc sagittis laoreet sit
                  amet id.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="service-block">
              <div class="service-icon">
                <i class="icon-036-tooth-4"></i>
              </div>
              <div class="">
                <h3><a href="#">Teeth Whitening</a></h3>
                <p>
                  Proin rutrum metus acted quis tincidunt sempers dummy
                  conetent.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="service-block">
              <div class="service-icon">
                <i class="icon-017-tooth-9"></i>
              </div>
              <div class="">
                <h3><a href="#">Gum Treatment</a></h3>
                <p>
                  Simple dummy conetnt viverra scelerisque molve nise nunc
                  laoreet.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="service-block">
              <div class="service-icon">
                <i class="icon-039-tooth-1"></i>
              </div>
              <div class="">
                <h3><a href="#">Restorations</a></h3>
                <p>
                  Conetent viverra scelerisques vel nec nuc sagittis laoreet sit
                  amet id.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- treatment close -->


    <!-- features-start -->
    <div class="about-bg-block">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="feature-block">
              <h1 class="feature-title mb60">Why Choose Dentista</h1>
              <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="feature-content">
                    <h3 class="feature-title">24/7 Customer Support</h3>
                    <p class="feature-text">
                      Proin rutrum metus felis sam act tincidunt risus sempers.
                    </p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="feature-content">
                    <h3 class="feature-title">Affordable Dental Care</h3>
                    <p class="feature-text">
                      Curabitur hendrerit fringilla enim aliqua fringilla
                      suscipit.
                    </p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="feature-content">
                    <h3 class="feature-title">Talented Doctors Team</h3>
                    <p class="feature-text">
                      Proin rutrum metus felis sam act tincidunt risus sempers.
                    </p>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                  <div class="feature-content">
                    <h3 class="feature-title">High Quality Equipment</h3>
                    <p class="feature-text">
                      Hendrerit fringilla enim accumsan turpis aliquam orci.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- features-close -->


    <!-- before after gallery-start -->
    <div class="space-medium">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="section-title">
              <!-- section title start-->
              <h1>Before/After Gallery</h1>
              <p>
                Proin rutrum metus felis, quis tincidunt donec orci act risus
                semper vita simple dummy <br />
                mols vel nisl nec nunc sagittis laoreet.
              </p>
            </div>
            <!-- /.section title start-->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="ba-gallery">
              <img
                src="{% static 'website/images/gallery-img-1.jpg' %}"
                alt=""
                class="img-responsive"
              />
              <div class="ba-left-btn">
                <span class="left-btn">before</span>
              </div>
              <div class="ba-right-btn">
                <span class="right-btn">after</span>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="ba-gallery">
              <img
                src="{% static 'website/images/gallery-img-2.jpg' %}"
                alt=""
                class="img-responsive"
              />
              <div class="ba-left-btn">
                <span class="left-btn">before</span>
              </div>
              <div class="ba-right-btn">
                <span class="right-btn">after</span>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="mt40 text-center">
              <a href="#" class="btn btn-primary btn-lg">view smile gallery</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- before after gallery-start -->


    <!-- testimonials-start -->
    <div class="space-medium bg-light">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="section-title">
              <!-- section title start-->
              <h1>What Our Patient Says</h1>
            </div>
            <!-- /.section title start-->
          </div>
        </div>
        <div class="testimonial-carousel">
          <div class="owl-carousel slider">
            <div class="item">
              <div
                class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12"
              >
                <div class="">
                  <div class="testimonial-content">
                    <p class="testimonial-text">
                      “Consectetur et interdum vulputate in act etios vestibulum
                      ullamcorper sapien eget sodales feugiat etiam justm
                      molestie viverra id a massa pellentesque non tellus urna.”
                    </p>
                    <div class="">
                      <div class="testimonial-pic">
                        <img
                          src="{% static 'website/images/testi-pic-1.jpg' %}"
                          alt=""
                          class="img-circle"
                        />
                      </div>
                      <div class="testimonial-meta">
                        <span>-Jeniol Marcus</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div
                class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12"
              >
                <div class="">
                  <div class="testimonial-content">
                    <p class="testimonial-text">
                      “Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Nam ut nisi nec risus bibendum ullamcorper et eu orci.
                      Vestibulum et pulvinar eu sem luctus fermentum diam.”
                    </p>
                    <div class="">
                      <div class="testimonial-pic">
                        <img
                          src="{% static 'website/images/testi-pic-2.jpg' %}"
                          alt=""
                          class="img-circle"
                        />
                      </div>
                      <div class="testimonial-meta">
                        <span>-Ryder Lothian</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div
                class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12"
              >
                <div class="">
                  <div class="testimonial-content">
                    <p class="testimonial-text">
                      “ Vestibulum dictum ullamcorper leo, ac dictum purus
                      aliquam ac. Cras fringilla tortor ut nulla mollis aliquet
                      urna hendrerit. Sed vitae malesuada nisi at aliquam enim.
                      ”
                    </p>
                    <div class="">
                      <div class="testimonial-pic">
                        <img
                          src="{% static 'website/images/testi-pic-3.jpg' %}"
                          alt=""
                          class="img-circle"
                        />
                      </div>
                      <div class="testimonial-meta">
                        <span>-Brock Lambrick</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- testimonials-close  -->


    <!-- blog-post start -->
    <div class="space-medium">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="section-title">
              <!-- section title start-->
              <h1>From Our Blog</h1>
            </div>
            <!-- /.section title start-->
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="post-block">
              <!-- post block -->
              <div class="post-img">
                <a href="#"
                  ><img
                    src="{% static 'website/images/post-img-small-1.jpg' %}"
                    alt=""
                    class="img-responsive"
                /></a>
              </div>
              <div class="post-content">
                <h3>
                  <a href="#" class="title">
                    10 amazing uses for your old toothbrush</a
                  >
                </h3>
                <div class="meta">
                  <span class="meta-date"> 25 june, 2020</span>
                  <span class="meta-comments">(22) Comments</span>
                </div>
              </div>
            </div>
            <!-- /.post block -->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="post-block">
              <!-- post block -->
              <div class="post-img">
                <a href="#"
                  ><img
                    src="{% static 'website/images/post-img-small-2.jpg' %}"
                    alt=""
                    class="img-responsive"
                /></a>
              </div>
              <div class="post-content">
                <h3>
                  <a href="#" class="title"
                    >Heading title of Dental treatment Blog post
                  </a>
                </h3>
                <div class="meta">
                  <span class="meta-date"> 27 june, 2020</span>
                  <span class="meta-comments">(18) Comments</span>
                </div>
              </div>
            </div>
            <!-- /.post block -->
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
            <div class="post-block">
              <!-- post block -->
              <div class="post-img">
                <a href="#"
                  ><img
                    src="{% static 'website/images/post-img-small-3.jpg' %}"
                    alt=""
                    class="img-responsive"
                /></a>
              </div>
              <div class="post-content">
                <h3>
                  <a href="#" class="title"
                    >What are the alternatives to dental implants?</a
                  >
                </h3>
                <div class="meta">
                  <span class="meta-date"> 26 june, 2020</span>
                  <span class="meta-comments">(12) Comments</span>
                </div>
              </div>
            </div>
            <!-- /.post block -->
          </div>
        </div>
      </div>
    </div>
    <!-- blog-post close -->


    <!-- cta start -->
    <div class="cta-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
            <h1 class="cta-title">Achieve Your Desired Perfect Smile!</h1>
            <p>
              We offer a wide range of procedures to help you get the perfect
              smile.
            </p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="cta-btn">
              <a href="#" class="btn btn-primary btn-lg">
                book an appointment</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- cta close -->

{% endblock %}